* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Standard syntax */
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: rgb(12, 12, 35);
}

/*** MOBILE STYLES ***/
/* Header styles */
header {
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul {
    display: none;
}
/* Welcome styles */
h1 {
    font-weight: 700;
    font-size: 3.0rem;
}
.socials-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/*** DESKTOP STYLES ***/
@media screen and (min-width: 48em) {
    /* Header styles */
    header {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    ul {
        display: flex;
    }
    .nav-link {
        padding: 0 0 0 30px;
        list-style-type: none;
        font-size: 1.2rem;
    }
    #mobile-menu-icon {
        display: none;
    }
    /* Welcome styles */
    .welcome-section {
        display: flex;
        height: 350px;
    }
    .welcome-section-left-container, .welcome-section-right-container {
        width: 50%;
        border: 1px solid black;
    }

}