/***************************
/* Base Styles
***************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/***************************
/* Layout Styles
***************************/
header {
    border: 1px solid #000;
    height: 100px;
    margin: 0 5%;
}
section {
    border: 1px solid #000;
    height: 400px;
    margin: 0 5%;
}
nav {
    width: 100%;
    margin-left: 50%;
}
li {
    border: 1px solid #000;
    float: left;
    width: 6.6%;
    list-style: none;
}
.left-content-container {
    border: 1px solid #000;
    background-color: lightgray;
    width: 50%;
    height: 100%;
}
.right-content-container {
    border: 1px solid #000;
    background-color: lightgray;
    float: right;
    width: 50%;
    height: 100%;
}
.m-r-container, .f-s-container {
    float: left;
    width: 50%;
    height: 90px;
    padding: 0 0 0 19%;
}
/***************************
/* Display and Theme Styles
***************************/
nav > div {
    height: 25px;
    width: 5.2%;
    border: 1px solid #000;
    float: left;
}
h2{
    font-size: 2.5rem;
}
.middle-header {
    text-align: center;
}
.social-icon {
    height: 25px;
    width: 25px;
    margin-right: 15px;
    background-color: black;
    float: left;
}
.micro-section-header {
    font: 1.0rem;
    color: orange;
    font-weight: 500;
    text-align: center;
}
.menu-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
.speciality-img {
    width: 100px;
    height: 200px;
    background-color: lightblue;
    padding: 10px 30px;
    border: 1px solid #000;
}
.speciality-img-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}
.center-paragraph {
    text-align: center;
    font-size: 1.0rem;
}
.center-phone {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: orangered;
}
.hours-img-container {
    width: 300px;
    height: 150px;
    background-color: lightblue;
    clear: both;
    margin: 0 auto;
}
.pfp-img-container {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: lightblue;
    margin: 0 auto;
}
.customer-name {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.customer-job {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
}
.testimonial-text {
    text-align: center;
    font-size: 1.0rem;
    font-style: italic;
    padding: 0 10%;
}