* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Standard syntax */
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}

/*** MOBILE STYLES ***/
header {
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul {
    display: none;
}

/*** DESKTOP STYLES ***/
@media screen and (min-width: 48em) {
    /* Header styles */
    header {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    ul {
        display: flex;
    }
    .nav-link {
        padding: 0 0 0 30px;
        list-style-type: none;
        font-size: 1.2rem;
    }
    #mobile-menu-icon {
        display: none;
    }

}