* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Standard syntax */
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: rgb(12, 12, 35);
}

/*** MOBILE STYLES ***/
/* Header styles */
header {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul {
    display: none;
}
#mobile-menu-icon {
    padding-left: 20px;
}
/* Welcome styles */
.welcome-section {
    padding: 60px 0 60px 0;
    background-color: rgba(243, 246, 247, 1)
}
h1 {
    font-weight: 700;
    font-size: 3.0rem;
    color: rgb(13, 13, 36);
    padding: 20px;
}
.socials-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
.search-container {
    display: flex;
    justify-content: center;
}
.welcome-search {
    width: 65%;
    height: 40px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}
.section-btn {
    width: 80px;
    height: 40px;
    border: none;
    background-color: rgb(240, 142, 53);
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* About styles */
.about-section {
    padding: 60px 0 30px 0;
}
.section-title-small {
    text-align: center;
    color: rgb(240, 142, 53);
}
.section-h2 {
    padding-left: 20px;
    font-size: 2.0rem;
}
.section-description {
    padding: 5px 20px;
    font-size: 1.2rem;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.menu-btn {
    width: 120px;
    margin: 20px 0 30px 0;
}

/* Specialty styles */
.specialty-section {
    height: 100%;
    padding: 60px 0 30px 0;
    background-color: rgba(243, 246, 247, 1);
}
.specialty-section > p {
    text-align: center;
}
.specialty-section > h2 {
    text-align: center;
    padding: 0;
}
.specialty-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.specialty-img {
    max-width: 80%;
    max-height: 80%;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* Hours styles */
.hours-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/cups-bg-img.jpg");
    background-size: 100% 100%;
    padding: 60px 0 50px 0;
}
.call-now-container, .hours-times.container {
    margin: 20px 0;
}
.call-now-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hours-times-container {
    display: flex;
    justify-content: space-evenly;
}
.hours-left, .hours-right {
    padding: 0 15px;
}
.hours-food-img {
    width: 80%;
    height: auto;
    margin: 20px 0 0 0;
}
/* Testimonials styles */
.testimonials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding: 60px 0 30px 0;
    background-image: url("../assets/quote-bg-img.png");
    background-size: 100% 100%;
}
.customer-pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.customer-header, .customer-job-title, .customer-rating, .customer-quote {
    text-align: center;
}
.customer-container {
    margin: 20px 0 10px 0;
}
.testimonial-container {
    margin: 0 20px;
}

/*** DESKTOP STYLES ***/
@media screen and (min-width: 48em) {
    /* Header styles */
    header {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    ul {
        display: flex;
        padding-right: 2%;
    }
    .nav-link {
        padding: 0 0 0 30px;
        list-style-type: none;
        font-size: 1.2rem;
    }
    #mobile-menu-icon {
        display: none;
    }
    /* Welcome desktop styles */
    .welcome-section {
        display: flex;
        height: 550px;
        align-items: center;
        background-image: url("../assets/fruit.jpg");
        background-size: 100% 100%;
    }
    .welcome-section-left-container, .welcome-section-right-container {
        width: 50%;
    }
    h1 {
        text-align: center;
        font-size: 4.0rem;
    }
    /* About desktop styles */
    .about-section {
        display: flex;
        height: 550px;
        align-items: center;
        background-image: url("../assets/about-background.jpg");
        background-size: 100% 100%;
    }
    .about-section-left-container {
        width: 40%;
    }
    .about-section-right-container {
        width: 50%;
    }
    /* Specialty desktop styles */
    .specialty-section {
        padding: 50px 0 30px 0;
    }
    .specialty-image-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    figure {
        width: 25%;
    }
    /* Hours desktop styles */
    .hours-times-container {
        display: flex;
        width: 100%;
    }
    .hours-left, .hours-right {
        width: 50%;
        text-align: center;
    }
    .hours-left {
        padding-left: 20%;
    }
    .hours-right {
        padding-right: 20%;
    }
    .hours-food-img {
        width: 50%;
        height: auto;
        margin: 20px 0 0 0;
    }
    /* Testimonials desktop styles */
    .customer-quote {
        padding: 5px 20%;
    }
}