/***************************
/* Base Styles
***************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/***************************
/* Layout Styles
***************************/
header {
    border: 1px solid #000;
    height: 100px;
    margin: 0 5%;
}
section {
    border: 1px solid #000;
    height: 300px;
    margin: 0 5%;
}
nav {
    width: 100%;
    margin-left: 50%;
}
li {
    border: 1px solid #000;
    float: left;
    width: 6.6%;
    list-style: none;
}
.left-content-container {
    border: 1px solid #000;
    background-color: lightgray;
    width: 50%;
    height: 100%;
}
.right-content-container {
    border: 1px solid #000;
    background-color: lightgray;
    float: right;
    width: 50%;
    height: 100%;
}
/***************************
/* Display and Theme Styles
***************************/
nav > div {
    height: 25px;
    width: 5.2%;
    border: 1px solid #000;
    float: left;
}
h2{
    font-size: 2.5rem;
}
.middle-header {
    text-align: center;
}
.social-icon {
    height: 25px;
    width: 25px;
    margin-right: 15px;
    background-color: black;
    float: left;
}
.micro-section-header {
    font: 1.0rem;
    color: orange;
    font-weight: 500;
    text-align: center;
}